<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Result</title>
    <style>
        body{
        border-collapse: collapse;
  		text-align: center;
    	background-image: url("/static/image2.jpg");
    }
    </style>
</head>
<body>
    <br><br><br>
   <center><h2 style="color:white;">!!!!YOU WON!!!!</h2></center><br><br>
   <center><h1 style="color:white;">WELL PLAYED </h1></center><br>
   <form action="/"><button type="submit" style="margin-top:1%">Play again</button></form>
</body>
</html>
